In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
pd1 = pd.read_html('https://www.livescore.com/en/football/england/premier-league/tottenham-hotspur-vs-manchester-city/968100/table/')

In [4]:
pd1

[                            #               Team  PlayedP  WinsW  DrawsD  \
 0           1Champions League            Arsenal       37     27       5
 1           2Champions League    Manchester City       36     26       7
 2           3Champions League          Liverpool       37     23      10
 3           4Champions League        Aston Villa       37     20       8
 4              5Europa League  Tottenham Hotspur       36     19       6
 5   6Europa Conference League   Newcastle United       36     17       6
 6                           7            Chelsea       36     16       9
 7                           8  Manchester United       36     16       6
 8                           9    West Ham United       37     14      10
 9                          10           Brighton       36     12      12
 10                         11        Bournemouth       37     13       9
 11                         12     Crystal Palace       37     12      10
 12                         13             Wolves       37     13       7
 13                         14             Fulham       37     12       8
 14                         15            Everton       37     13       9
 15                         16          Brentford       37     10       9
 16                         17  Nottingham Forest       37      8       9
 17               18Relegation         Luton Town       37      6       8
 18               19Relegation            Burnley       37      5       9
 19               20Relegation   Sheffield United       37      3       7

     LossesL  Goals ForF  Goals AgainstA  Goals DifferenceGD  PointsPts
 0         5          89              28                  61         86
 1         3          91              33                  58         85
 2         4          84              41                  43         79
 3         9          76              56                  20         68
 4        11          71              59                  12         63
 5        13          79              57                  22         57
 6        11          73              61                  12         57
 7        14          52              56                  -4         54
 8        13          59              71                 -12         52
 9        12          54              58                  -4         48
 10       15          53              65                 -12         48
 11       15          52              58                  -6         46
 12       17          50              63                 -13         46
 13       17          51              59                  -8         44
 14       15          39              49                 -10         40
 15       18          54              61                  -7         39
 16       20          47              66                 -19         29
 17       23          50              81                 -31         26
 18       23          40              76                 -36         24
 19       27          35             101                 -66         16  ]

In [5]:
pd1[0]

,#,Team,PlayedP,WinsW,DrawsD,LossesL,Goals ForF,Goals AgainstA,Goals DifferenceGD,PointsPts
0,1Champions League,Arsenal,37,27,5,5,89,28,61,86
1,2Champions League,Manchester City,36,26,7,3,91,33,58,85
2,3Champions League,Liverpool,37,23,10,4,84,41,43,79
3,4Champions League,Aston Villa,37,20,8,9,76,56,20,68
4,5Europa League,Tottenham Hotspur,36,19,6,11,71,59,12,63
5,6Europa Conference League,Newcastle United,36,17,6,13,79,57,22,57
6,7,Chelsea,36,16,9,11,73,61,12,57
7,8,Manchester United,36,16,6,14,52,56,-4,54
8,9,West Ham United,37,14,10,13,59,71,-12,52
9,10,Brighton,36,12,12,12,54,58,-4,48
10,11,Bournemouth,37,13,9,15,53,65,-12,48
11,12,Crystal Palace,37,12,10,15,52,58,-6,46
12,13,Wolves,37,13,7,17,50,63,-13,46
13,14,Fulham,37,12,8,17,51,59,-8,44
14,15,Everton,37,13,9,15,39,49,-10,40
15,16,Brentford,37,10,9,18,54,61,-7,39
16,17,Nottingham Forest,37,8,9,20,47,66,-19,29
17,18Relegation,Luton Town,37,6,8,23,50,81,-31,26
18,19Relegation,Burnley,37,5,9,23,40,76,-36,24
19,20Relegation,Sheffield United,37,3,7,27,35,101,-66,16