# First DS Assignment with Python

## Introduction
America League Baseball is the highest level of professional baseball in the United States and Canada, consisting of teams that compete in the American League (AL) and the National League (NL). Each league is further divided into three divisions: East, Central, and West.

## Libraries and Packages
These are the list of Python libraies to use:
- Pandas
- Numpy
- Matplotlib
- Seaborn

## Source of dataset
The DS was gotten from
[America League Base Ball Data](https://en.wikipedia.org/wiki/American_League)

### Import necessary libraries

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
pd1 = pd.read_csv('albb-salaries-2003.csv')

In [13]:
# take a look at the dataset
pd1.head()

               Team           Player      Salary Position
0  New York Yankees    Acevedo, Juan     900,000  Pitcher
1  New York Yankees  Anderson, Jason     300,000  Pitcher
2  New York Yankees   Clemens, Roger  10,100,000  Pitcher
3  New York Yankees  Contreras, Jose   5,500,000  Pitcher
4  New York Yankees   Flaherty, John     750,000  Catcher

In [14]:
pd1.shape # checking the size of the data

(381, 4)

In [15]:
pd1.describe()

                     Team         Player   Salary Position
count                 381            381      381      381
unique                 14            381      172        7
top     Cleveland Indians  Acevedo, Juan  300,000  Pitcher
freq                   31              1       44      180

### Question 1
**How many pitchers does the New York Yankees have?**

In [25]:
len(pd1[(pd1["Position"] == "Pitcher") & (pd1["Team"] == "New York Yankees")])

14

After filtering down the position to be pitcher and the team to be new york yankees, the lenght of the new york yankees pitcher is **14**

### Question 2
**Who is (are) the highest-paid player(s) in the Cleveland Indians Team?**

In [41]:
clevelandI_team = pd1[pd1['Team'] == "Cleveland Indians"]

In [42]:
clevelandI_team

                  Team               Player     Salary        Position
82   Cleveland Indians      Anderson, Brian  1,500,000         Pitcher
83   Cleveland Indians          Baez, Danys  5,125,000         Pitcher
84   Cleveland Indians           Bard, Josh    302,100         Catcher
85   Cleveland Indians          Bere, Jason  1,000,000         Pitcher
86   Cleveland Indians         Blake, Casey    330,000   Third Baseman
87   Cleveland Indians      Bradley, Milton    314,300      Outfielder
88   Cleveland Indians  Broussard, Benjamin    303,000   First Baseman
89   Cleveland Indians         Burks, Ellis  7,166,667      Outfielder
90   Cleveland Indians         Davis, Jason    301,100         Pitcher
91   Cleveland Indians        Garcia, Karim    900,000      Outfielder
92   Cleveland Indians     Gutierrez, Ricky  3,916,667       Shortstop
93   Cleveland Indians       Hafner, Travis    302,200   First Baseman
94   Cleveland Indians           Laker, Tim    400,000         Catcher
95   Cleveland Indians         Lawton, Matt  6,750,000      Outfielder
96   Cleveland Indians           Lee, Cliff    300,900         Pitcher
97   Cleveland Indians       McDonald, John    314,400       Shortstop
98   Cleveland Indians    Mulholland, Terry    500,000         Pitcher
99   Cleveland Indians        Myette, Aaron    307,500         Pitcher
100  Cleveland Indians    Phillips, Brandon    300,900       Shortstop
101  Cleveland Indians         Riske, David    314,000         Pitcher
102  Cleveland Indians   Rodriguez, Ricardo    302,400         Pitcher
103  Cleveland Indians         Sabathia, CC  1,100,000         Pitcher
104  Cleveland Indians         Sadler, Carl    303,200         Pitcher
105  Cleveland Indians       Santiago, Jose    600,000         Pitcher
106  Cleveland Indians          Selby, Bill    325,000  Second Baseman
107  Cleveland Indians       Spencer, Shane    600,000      Outfielder
108  Cleveland Indians        Traber, Billy    300,000         Pitcher
109  Cleveland Indians        Vizquel, Omar  5,500,000       Shortstop
110  Cleveland Indians      Westbrook, Jake    305,500         Pitcher
111  Cleveland Indians         Wickman, Bob  6,000,000         Pitcher
112  Cleveland Indians        Wohlers, Mark  2,600,000         Pitcher

In [55]:
clevelandI_team[clevelandI_team["intTeam"] == max(clevelandI_team["intTeam"])]

                 Team        Player     Salary    Position  intTeam
89  Cleveland Indians  Burks, Ellis  7,166,667  Outfielder  7166667

In [51]:
int_team = clevelandI_team["Salary"].apply(lambda x: int("".join(x.split(","))))

In [54]:
clevelandI_team

,Team,Player,Salary,Position,intTeam
82,Cleveland Indians,"Anderson, Brian","1,500,000",Pitcher,1500000
83,Cleveland Indians,"Baez, Danys","5,125,000",Pitcher,5125000
84,Cleveland Indians,"Bard, Josh","302,100",Catcher,302100
85,Cleveland Indians,"Bere, Jason","1,000,000",Pitcher,1000000
86,Cleveland Indians,"Blake, Casey","330,000",Third Baseman,330000
87,Cleveland Indians,"Bradley, Milton","314,300",Outfielder,314300
88,Cleveland Indians,"Broussard, Benjamin","303,000",First Baseman,303000
89,Cleveland Indians,"Burks, Ellis","7,166,667",Outfielder,7166667
90,Cleveland Indians,"Davis, Jason","301,100",Pitcher,301100
91,Cleveland Indians,"Garcia, Karim","900,000",Outfielder,900000
92,Cleveland Indians,"Gutierrez, Ricky","3,916,667",Shortstop,3916667
93,Cleveland Indians,"Hafner, Travis","302,200",First Baseman,302200
94,Cleveland Indians,"Laker, Tim","400,000",Catcher,400000
95,Cleveland Indians,"Lawton, Matt","6,750,000",Outfielder,6750000
96,Cleveland Indians,"Lee, Cliff","300,900",Pitcher,300900
97,Cleveland Indians,"McDonald, John","314,400",Shortstop,314400
98,Cleveland Indians,"Mulholland, Terry","500,000",Pitcher,500000
99,Cleveland Indians,"Myette, Aaron","307,500",Pitcher,307500
100,Cleveland Indians,"Phillips, Brandon","300,900",Shortstop,300900
101,Cleveland Indians,"Riske, David","314,000",Pitcher,314000
102,Cleveland Indians,"Rodriguez, Ricardo","302,400",Pitcher,302400
103,Cleveland Indians,"Sabathia, CC","1,100,000",Pitcher,1100000
104,Cleveland Indians,"Sadler, Carl","303,200",Pitcher,303200
105,Cleveland Indians,"Santiago, Jose","600,000",Pitcher,600000
106,Cleveland Indians,"Selby, Bill","325,000",Second Baseman,325000
107,Cleveland Indians,"Spencer, Shane","600,000",Outfielder,600000
108,Cleveland Indians,"Traber, Billy","300,000",Pitcher,300000
109,Cleveland Indians,"Vizquel, Omar","5,500,000",Shortstop,5500000
110,Cleveland Indians,"Westbrook, Jake","305,500",Pitcher,305500
111,Cleveland Indians,"Wickman, Bob","6,000,000",Pitcher,6000000
112,Cleveland Indians,"Wohlers, Mark","2,600,000",Pitcher,2600000

In [1]:
# this is a comment